.iztro-center-palace {
  grid-area: ct;
  position: relative;
  width: 100%;
  height: 100%;
}
.iztro-center-palace ul {
  margin: 10px;
  padding: 0;
}
.iztro-center-palace li {
  list-style: none;
}
.iztro-copyright {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
}