.iztro-palace {
  padding: 3px;
  display: grid;
  text-transform: capitalize;
  grid-template-rows: auto auto auto 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "major minor adj"
    "horo  horo adj"
    "fate  fate fate"
    "ft   ft  ft";
  transition: all 0.25s ease-in-out;
  grid-auto-flow: column;
}
.iztro-palace-major {
  grid-area: major;
}
.iztro-palace-minor {
  grid-area: minor;
  justify-self: center;
}
.iztro-palace-adj {
  grid-area: adj;
  display: inline-flex;
  justify-self: flex-end;
  gap: 3px;
  white-space: nowrap;
}
.iztro-palace-horo-star {
  grid-area: horo;
  align-self: center;
}
.iztro-palace-horo-star .stars {
  display: flex;
  gap: 3px;
}
.iztro-palace-scope {
  white-space: nowrap;
  text-align: center;
}
.iztro-palace-scope-decadal {
  font-weight: 700;
}
.iztro-palace-fate {
  grid-area: fate;
  align-self: flex-end;
  white-space: nowrap;
  justify-content: center;
  display: flex;
  gap: 3px;
}

.iztro-palace-footer {
  grid-area: ft;
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: flex-start;
}

.iztro-palace-lft24 {
  text-align: left;
}

.iztro-palace-rgt24 {
  text-align: right;
}
.iztro-palace-name {
  cursor: pointer;
}
.iztro-palace-gz {
  text-align: right;
}
.iztro-palace-dynamic-name {
  text-align: center;
  display: flex;
  white-space: nowrap;
  gap: 3px;
  justify-content: center;
}
